body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
}


.above-fold {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    max-width: 1020px;
    gap: 25px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header a,
.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 118px 0;
    width: 100%;
    max-width: 1020px;
    gap: 30px;
}

.hero-content {
    width: 45%;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up {
    background-color: #3882F6;
    border: none;
    color: white;
    width: fit-content;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;   
}

.image-placeholder {
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.image-placeholder p {
    color: white;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 50px 0 50px;
}

.info-container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 52px
}

.info-img {
    border: solid #3882f6 4px;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.info-subtext {
    color:rgb(100, 100, 100);
    font-weight: 400;   
    margin-top: 8px;
    max-width: 156px;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 350;
    color: #1F2937;
    padding: 60px;
    margin: 125px 0 80px;
}

.quote-container .quote-attrib {
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.action-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 0 100px
}

.action-title {
    color: #F9FAF8;
    font-size: 22px;
    font-weight: 800;
}

.action-subtext {
    color:#E5E7EB
}

.action-button button {
background-color: #3882F6;
    color: white;
    width: fit-content;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    height: 100px;
    align-items: center;
    justify-content: center;
}